<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image MB to KB Converter</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
    body {
        background-color: #1054a8;
        font-family:"Ubuntu",sans-serif;
        justify-content: center;
        align-items: center;
        margin-top:15%;
    }

    .container {
        width: 800px;
        padding: 20px;
        border: rounded shadow;
        border-radius: 5px;
        background-color: #f5f5f5;
        
    }
    h1{
        color: #f5f5f5;
        
    }

</style>
<body>
    <h1 class="mb-4 text-center">Image MB to KB Converter</h1>

    <div class="container">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">Choose an image file (JPG or PNG)</label>
                <input type="file" name="file" accept=".jpg, .jpeg, .png" class="form-control-file" required>
            </div>
            <button type="submit" class="btn btn-primary">Convert</button>
        </form>

           
        <div>
            {% if download_button_visible %}
                <a href="/download" class="btn btn-success mt-3">Download Converted Image</a>
            {% endif %}
        </div>
        
        </div>
</body>
</html>
